#cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  background: #34495e;
  z-index: 1000;
  border-radius: 50%;
  box-shadow: 0px 0px 20px #34495e;
  transform: translate(-50%, -50%);
  pointer-events: none;
  &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      
  }
}
