// css navigator (Menu)
.nav-mobile {
  tran
  background: rgb(0, 0, 0);
  height: 90vh;
  transition: all 0.5s ease;
  &.active {
    
  }
  @include xxs {
    position: relative;
    width: 100%;
    padding: 0 15px;
    z-index: 1000;
    top: 100px;
    .nav-mobile__lists {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      height: 100%;
    }
  }
}
